<mat-toolbar color="primary">
  <span>
    <mat-icon routerLink="/patient-list" class="hm">home</mat-icon>
  </span>
  <span class="title">{{title}}</span>
  <span class="header-space"></span>
  <button mat-button color="accent" routerLink="/patient-add">
    <mat-icon>group</mat-icon>
    <span>Register</span>
  </button>
  <button mat-button color="accent" routerLink="/patient-list">
    <mat-icon>subject</mat-icon>
    <span>Records</span>
  </button>
  <button mat-button color="accent" routerLink="/login">
        <span>login</span>
  </button>
</mat-toolbar>